<div class="app-sidebar" id="app-sidebar">
    <div id="infobox-blog-archive" class="panel panel-default">
        <div class="panel-heading">
            <button data-target="#blog-archive" data-toggle="collapse" class="btn btn-link btn-xs pull-right" type="button">
                <i class="icon-expand"></i> einblenden
            </button>
            <h4 class="panel-title">Blog Archiv</h4>
        </div>
        <div id="blog-archive" class="panel-collapse in collapse" style="height: auto;">
            <div class="panel-body panel-body-archive">
                <h5>2012</h5>
                <ul class="nav nav-pills nav-stacked"><li>
                        <a href="http://localhost:8499/plonesite/blog-view?year=2012&amp;month=10">
                            <span class="badge pull-right">1</span>
                            <span class="archive-month">Oktober</span>
                        </a>
                    </li>
                </ul>
             </div>
        </div>
    </div>
</div>