// Custom application specific styles
//--------------------------------------

.app-toolbar + .app-navbar {
    margin-top: @navbar-height;
}

.app-aside {
    padding-top: @line-height-computed;
}

.icon-x-large {
    font-size: 60px;
}

#blog-header {
  h1 {
    background:url(../assets/img/logo.png) no-repeat 0 0 transparent;
    .size(500px, 80px);
    text-indent: -99999px;
    overflow: hidden;
  }
}

#blog-link {
  padding: @line-height-computed 0;
}

// wad styles for a HMTL5 based site footer
.app-footer {
    margin-top: @line-height-computed;
    padding: @line-height-computed 0;
    border-top: 1px solid @gray-lighter;
}
