<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="app-theme-default">
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include toolbar.html %}
    {% include navbar.html %}
    <div class="container app-main">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <main class="app-content" id="content" role="main">
                {{ content }}
            </main>
            <aside class="app-content-aside" id="content-footer"
                role="contentinfo"><!-- Comments --></aside>
        </div>
        <div class="col-xs-12 col-md-3">
            <aside class="app-aside-header" id="sidebar-info"></aside>
            <aside class="app-aside" id="app-sidebar" role="contentinfo">
                {% include sidebar.html %}
            </aside>
        </div>
    </div>
    </div>
    {% include footer.html %}
    {% include javascript.html %}
  </body>
</html>